@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

@import "./global/header.css";
@import "./home/intro.css";


/* Utilidades */
@import "./utilidades/componentes.css";


/* Home */

@import "./home/intro.css";
