@import "./global/global.css";

/* Utilidades */
@import "./utilidades/componentes.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

/* Home */
@import "./home/intro.css";
@import "./home/header.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";




/* Bicicletas */
@import "./bicicletas/bicicletas-lista.css";

/* Seguros */
@import "./seguros/seguros.css"
