@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

@import "./home/intro.css";


/* Utilidades */
@import "./utilidades/componentes.css";


/* Home */

@import "./home/header.css";
@import "./home/intro.css";

/* Bicicletas */

@import "./bicicletas/bicicletas-lista.css"
