.bicicletas-bg {
  background: linear-gradient(to right, var(--c-0) 30%, var(--c-12) 0%);

}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../../img/dec/top-right.svg") no-repeat top 40px right 40px;
}

.bicicletas-img {
  display: grid;
}

.bicicletas-img img {
  grid-area: 1/1;
}

.bicicletas-img span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background: var(--c-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 5px 0 0 5px;
}


.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
  align-content: start;
}

.bicicletas-conteudo h2,
.bicicletas-conteudo p {
  grid-column: 1/-1;
}

.bicicletas-conteudo h2 {
  margin-bottom: 20px;

}

.bicicletas-conteudo h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--p-1);
  margin-bottom: 8px;
}

.bicicletas-conteudo p {
  margin-bottom: 32px;
}

.bicicletas a {
  place-self: end;
}

.bicicletas li {
  display: flex;
  align-items: center;
}

.bicicletas li+li {
  margin-top: 16px;
}

.bicicletas-conteudo img {
  width: 24px;
  margin-right: 8px;
}


@media (max-width: 800px) {
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .bicicletas-bg {
    background: var(--c-11);

  }
}

@media (max-width: 600px) {

  .bicicletas-conteudo {
    grid-template-columns: 1fr;

  }

  .bicicletas ul {
    margin-bottom: 32px;
    font-size: 1rem;
  }

  .bicicletas a {
    place-self: start;

  }
}