.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(var(--p-1), var(--p-3));
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--p-5);
  font-size: 18px;
  line-height: 1.33;
  font-family: 'Poppins';
  font-weight: 600;
}

.link {
  display: inline-block;
  color: var(--p-1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.botao:hover {
  background: linear-gradient(var(--p-1), var(--p-3));
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 16px;
  }
}
