:root {
  --c-0: #FFFFFF;
  --c-1: #f7f7f7;
  --c-2: #EDEDED;
  --c-3: #DEDEDE;
  --c-4: #CCCCCC;
  --c-5: #B2B2B2;
  --c-6: #9C9C9C;
  --c-7: #717171;
  --c-8: #595959;
  --c-9: #404040;
  --c-10: #2E2E2E;
  --c-11: #111111;
  --c-12: #000000;
  --p-1: #ffbb00;
  --p-2: #E4A30B;
  --p-3: #A66F00;
  --p-4: #664400;
  --p-5: #332200;
}

.c0 {
  color: var(--c-0);
}

.c1 {
  color: var(--c-1);
}

.c2 {
  color: var(--c-2);
}

.c3 {
  color: var(--c-3);
}

.c4 {
  color: var(--c-4);
}

.c5 {
  color: var(--c-5);
}

.c6 {
  color: var(--c-6);
}

.c7 {
  color: var(--c-7);
}

.c8 {
  color: var(--c-8);
}

.c9 {
  color: var(--c-9);
}

.c10 {
  color: var(--c-10);
}

.c11 {
  color: var(--c-11);
}

.c12 {
  color: var(--c-12);
}

.p1 {
  color: var(--p-1);
}

.p2 {
  color: var(--p-2);
}

.p3 {
  color: var(--p-3);
}

.p4 {
  color: var(--p-4);
}

.p5 {
  color: var(--p-5);
}
