.footer-bg {
  background-color: var(--c-12);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;

}

.footer h3 {
  margin-bottom: 32px;
}

.footer-contato ul {
  margin-bottom: 32px;
}

.footer-contato li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--c-11);
  margin-top: 16px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-redes {
  display: flex;
  gap: 32px;
}

.footer a:hover {
  color: var(--c-0);
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: 40px;
}

.footer-redes {
  grid-column: 2;
}

.footer-redes img {
  width: 32px;
  object-fit: cover;
}

.footer-info {
  grid-column: 3;
  grid-row: 1;
}

@media (max-width:800px) {
  .footer>img {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:600px) {

  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .footer-copy {
    margin-top: 0px;
  }
}
