.intro-bg {
  background: var(--c-12);
  box-shadow: inset 0 -120px var(--c-0);
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;

}

.intro-conteudo {
  align-self: end;
  padding-bottom: 200px;
}


.intro img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.intro h1 {
  margin-bottom: 32px;

}

.intro p {
  margin-bottom: 20px;

}

.intro a {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(var(--p-1), var(--p-3));
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--p-5);
  font-size: 18px;
  line-height: 1.33;
  font-family: 'Poppins';
  font-weight: 600;
}

.intro a:hover {
  background: linear-gradient(var(--p-2), var(--p-4));
}

@media (max-width: 600px) {
  .intro a {
    padding: 12px 16px;
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .intro h1 {
    font-size: 48px;
  }

  .intro p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .intro-bg {
    background: var(--c-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--c-0);
  }

  .intro {
    grid-template-columns: 1fr;
    gap: 32px
  }

  .intro-conteudo {
    padding-bottom: 0px;

  }

  .intro h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .intro img {
    height: 300px;
    width: 100%;
  }

}
