#orcamento {
    background: linear-gradient(var(--c-11) 600px, var(--c-1) 0);

}

.orcamento {
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding-bottom: 120px;

}

.orcamento h2 {
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
}

.orcamento h2::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    background-color: var(--p-1);
    position: absolute;
    left: -12px;
}

.orcamento-produto,
.orcamento-dados {
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-produto {
    border-radius: 5px 0 0 5px;
    background: var(--c-12);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-content: start;
}

.orcamento-dados {
    border-radius: 0 5px 5px 0;
    background: var(--c-0);

}

.orcamento-produto>* {
    grid-column: 1/-1;
}

.orcamento-produto>label {
    grid-column: initial;
}

.orcamento-produto label {
    color: var(--c-4);
    background-color: var(--c-10);
    display: grid;
    grid-template-columns: auto 1fr auto;
    border: 1px solid var(--c-10);
    align-items: center;
    padding: 12px 16px;
    border-radius: 4px;
    font: 400 1rem/1.5 "Poppins", sans-serif;
    cursor: pointer;

}

.orcamento-produto input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.orcamento-produto input:checked+label {
    background: var(--c-0);
    color: var(--c-11);
}

.orcamento-produto label::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid var(--c-6);
    border-radius: 50%;
    margin-right: 8px;
    box-sizing: border-box;
}

.orcamento-produto input:checked+label::before {
    border-color: var(--c-7);
    box-shadow: inset 0 0 0 3px var(--c-0), inset 0 0 0 6px var(--c-7);
}

.orcamento-produto label span {
    display: none;
}

.orcamento-produto input:checked+label span {
    display: inline-block;
}


#bikcraft:checked~#orcamento-bikcraft,
#seguro:checked~#orcamento-seguro {
    display: grid;
    gap: 20px;
}

.orcamento-produto label:hover {
    background-color: var(--c-9);
    border-color: var(--c-9);
}

.orcamento-produto input:focus+label {
    box-shadow: 0 0 0 2px var(--p-1);
    border-color: var(--c-12);
}

.orcamento-conteudo {
    display: none;
}

.orcamento-conteudo h2,
.orcamento-dados h2:nth-of-type(n + 2) {
    margin-top: 20px;

}

.orcamento-dados h2 {
    grid-column: 1/-1;
}

.orcamento-detalhes {
    display: none;
    background: var(--c-0);
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    align-items: center;
}

.orcamento-detalhes li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.orcamento-detalhes li img {
    width: 16px;
    margin-right: 8px;
}

.orcamento-produto input:checked+label+.orcamento-detalhes {
    display: grid;
}

@media (max-width: 1200px) {

    .orcamento-produto,
    .orcamento-dados {
        padding: 32px;
    }
}

@media (max-width: 800px) {

    .orcamento {
        grid-template-columns: 1fr;
    }

    .orcamento-produto {
        border-radius: 5px 5px 0 0;
    }

    .orcamento-dados {
        border-radius: 0 0 5px 5px;
    }
}

@media (mawidth: 400px) {
    .orcamento-produto {
        grid-template-columns: 1fr;
    }
}